@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;

  font-family: "Playfair Display", serif;
  font-size: 100%;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #007eff;
  padding: 1em 0;
  text-align: center;
}

header img {
  width: 100%;
  max-width: 10em;
  text-align: center;
}

header h1 {
  margin: 0;
  text-align: center;
  color: #fff;
  font-family: Lobster, cursive;
  font-size: 3rem;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.nav li {
  display: block;
}

.nav a {
  color: #fff;
  display: block;
  padding: .5em .75em;
  background-color: #007eff;
  border-radius: 4px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #404040;
}

h2 {
  font-family: Lobster, cursive;
  padding: 1rem;
  background-color: #404040;
  color: #fff;
}

.home-section {
  background-color: #d5d5d5;
}

.home-img {
  width: 100%;
  max-width: 25em;
  padding: 0 1em;
}

.home-section p {
  padding: 0 1em 1em;
}

.products-section {
  background-color: #d5d5d5;
}

.products-section a {
  text-decoration: none;
  color: #000;
}

.product-body {
  position: relative;
}

.product-card-img {
  width: 100%;
  max-width: 25em;
  padding: 1em;
}

.product-card-body {
  margin: 1em;
  background-color: rgba(0, 126, 255, .25);
  color: #fff;
  z-index: 100;
  position: absolute;
  bottom: 0;
  border-radius: 8px;
}

.product-body h3 {
  padding: 1em;
}

.promotions-section {
  text-align: center;
}

.promo-card {
  margin: 1em;
}

.promo-list {
  list-style-type: none;
  padding: 0;
}

.promo-card-img {
  width: 100%;
  max-width: 10em;
  margin: 1em;
}

.promo-card-body {
  width: 100%;
  color: #fff;
  background-color: #007eff;
  padding: .25em;
  border-radius: 8px;
}

figure {
  margin: 1em;
  padding: 1em;
  background-color: #007eff;
  border-radius: 8px;
}

figure img {
  width: 100%;
  max-width: 25em;
}

figure figcaption {
  font-size: 75%;
  color: #fff;
}

.about-beaus {
  margin: 1em;
}

blockquote {
  background-color: #007eff;
  color: #fff;
  padding: 1em;
  border-radius: 8px;
  font-size: 175%;
  font-family: Lobster, cursive;
}

.contact-section {
  background-color: #d5d5d5;
  padding-bottom: 1em;
}

.main, .west, .east {
  margin: 1em;
  text-align: center;
  background-color: #007eff;
  padding: 1em;
  border-radius: 8px;
  color: #fff;
}

.location-img {
  width: 100%;
  max-width: 25em;
}

.main h3, .west h3, .east h3 {
  margin: .5em;
  font-family: Lobster, cursive;
  font-size: 175%;
}

.main p, .west p, .east p {
  margin: .5em;
}

.hours-section {
  text-align: center;
  background-color: #d5d5d5;
  padding-bottom: 1em;
}

.main-hours h3, .west-hours h3, .east-hours h3 {
  font-family: Lobster, cursive;
  font-size: 175%;
  margin: 0;
}

.hours-img {
  width: 100%;
  max-width: 25em;
  padding: 1em;
}

.hours {
  background-color: #007eff;
  padding: 1em;
  margin: 0 2em 1em;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

dt {
  margin: 0;
  float: left;
  width: 50%;
}

dd {
  margin: 0;
  float: left;
  width: 50%;
}

footer {
  background-color: #007eff;
  color: #fff;
  text-align: center;
}

footer img {
  width: 100%;
  max-width: 4em;
  padding: .5em;
}

footer p {
  padding: .5em;
  font-size: 75%;
  margin: 0;
}
